@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,800;0,900;1,200;1,300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

@font-face {
    font-family: roboto-thin;
    src: url(fonts/roboto-thin.ttf);
}
@font-face {
    font-family: featly;
    src: url(fonts/featly.ttf);
}
@font-face {
    font-family: scribblebox;
    src: url(fonts/scribblebox.ttf);
}